<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-3 col-md-6 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="../assets/images/Saehui_Profile_square.png" alt="{{ site.title }}" class="circle-image wow animated zoomIn"
          data-wow-delay=".1s" />
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 mt-4">
    <h1 class="display-5 fw-bold lh-1 mb-3">Saehui Hwang</h1>
    <p class="text-muted wow animated fadeIn" data-wow-delay=".25s">
      I'm a PhD Student in Mechanical Engineering at Stanford University, focusing on accessibility, HCI, and cognitive modeling. 
      I am advised by Prof. Sean Follmer at <a href="https://shape.stanford.edu/"> SHAPE Lab </a>. 
    </p>
    <p class="text-muted wow animated fadeIn" data-wow-delay=".25s">
      :woman_technologist: <b>I'm working on:</b> Developing accessible graphic interaction through congitive modeling <br>
      :book: <b>I'm learning:</b> Unity, Julia, French <br>
      :heart: <b>I'm passionate about: creating stories </b> <a href="/videography">through video</a> and helping others do the same. I'm the AI Curator 
      at the <a href="https://www.biff.kr/eng/"> Busan International Film Festival</a> Film Market <br>
    </p>
    
    <p class="text-muted wow animated fadeIn" data-wow-delay=".25s">
      Before coming to Stanford, I studied Electrical Engineering at the California Institute of Technology. I am also currently a Knight Hennessy Scholar at Stanford.</p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="mailto:saehui@stanford.edu" class="m-1 btn btn-outline-primary btn-sm"><i
              class="fa fa-envelope"></i></a>
          <a href="{{site.baseurl}}/assets/publications/Master_Resume.pdf" class="m-1 btn btn-outline-primary btn-sm"><i
              class="fa fa-address-card"></i></a>
          <a href="https://www.linkedin.com/in/saehui-hwang-3ba1a3165/" class="m-1 btn btn-outline-primary btn-sm"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://scholar.google.com/citations?user=EnAM_4kAAAAJ&hl=en"
            class="m-1 btn btn-outline-primary btn-sm"><i class="fa fa-graduation-cap"></i></a>
          <a href="https://orcid.org/0000-0002-7684-3309" class="m-1 btn btn-outline-primary btn-sm"><i
              class="fab fa-orcid"></i></a>
        </div>
    <!-- Add more text content here -->
    <!-- <p class="additional-text wow animated slideInUp" data-wow-delay=".15s">
       
    </p> -->
  </div>
</div>