<div class="socials">
  {%- for account in site.author -%}
    {%- assign service_name = account[0] -%}
    {%- assign service_data = site.data.social-media[service_name] -%}
    {%- if service_data -%}
      <a class="social" href="{{ service_data.url }}{{ account[1] }}"
         aria-label="{{ service_name | capitalize }}" title="{{ service_name | capitalize }}"
         {%- unless service_name == 'email' %} rel="me noopener" target="_blank"{% endunless -%}>
        {{ service_name | capitalize }}<span class="arrow-out" aria-hidden="true"></span>
      </a>
    {%- endif -%}
  {%- endfor -%}
</div>
