{%- assign tags = blank -%}
{%- for post in site.posts -%}
  {%- assign post_tags = post.tags | join:'|' | append:'|' -%}
  {%- if post_tags != '|' -%}{%- assign tags = tags | append: post_tags -%}{%- endif -%}
{%- endfor -%}
{%- assign tags = tags | split:'|' | uniq | sort -%}

{%- for tag in tags -%}
<section class="tag-group">
  <h2 class="tag-group__name" id="{{ tag | slugify }}">{{ tag }}</h2>
  <div class="tag-group__list">
    {%- for post in site.posts -%}
      {%- if post.tags contains tag -%}
        {%- if post.external_url -%}{%- assign url = post.external_url -%}
        {%- else -%}{%- assign url = post.url | relative_url -%}{%- endif -%}
        <p class="tag-group__item">
          <a href="{{ url }}">{{ post.title }}</a>
          <span class="tag-group__date">{{ post.date | date: "%-d %b %Y" }}</span>
        </p>
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>
{%- endfor -%}
